.card-count-in-list {
  color: #1d7afc;
  background-color: oklch(93.2% 0.032 255.585);
  padding: 0 10px;
  font-size: 12px;
  display: inline-block;
  border-radius: 3px;
  font-weight: bold;
}

.card-count-total {
  color: #1d7afc;
  background-color: oklch(93.2% 0.032 255.585);
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  z-index: 99999;
}

main {
  position: relative;
}

.boardSearch {
  position: sticky;
  bottom: 90%;
  left: 0;
  z-index: 99999;
  color: #1d7afc;
  background-color: #e9f2ff;
  border: none;
  outline: none;
  padding: 8px 18px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

.boardSearch svg {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.boardSearch:hover {
  opacity: 0.8;
  transition: 0.6s;
}
