.card-count-in-list {
  color: oklch(54.6% 0.245 262.881);
  background-color: oklch(93.2% 0.032 255.585);
  padding: 0 10px;
  font-size: 10px;
  display: inline-block;
  border-radius: 3px;
  font-weight: bold;
}

.card-count-total {
  color: oklch(54.6% 0.245 262.881);
  background-color: oklch(93.2% 0.032 255.585);
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  z-index: 9999;
}

[aria-labelledby="card-back-name"] {
  width: 800px !important;
}

[aria-labelledby="card-back-name"] > div > div {
  display: block !important;
  max-height: 100% !important;
}

[aria-labelledby="card-back-name"] > div > div > div {
  display: block !important;
  height: auto !important;
  overflow: visible !important;
}
[aria-labelledby="card-back-name"] nav {
  z-index: 999999999 !important;
  top: 0 !important;
}
aside,
aside > div {
  width: 100% !important;
}

main > div {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
